.analyzes {

  &__card {
    box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    padding: 14px;
    cursor: pointer;

    &:hover {
      background: rgba(0, 0, 0, 0.05);
    }
  }

  &Modal {
    max-width: 800px;
    width: 100%;
  }

  &endCallI {
    width: 53px;
    cursor: pointer;
    transition: 0.3s;
    &:hover{
      transform: scale(1.1);
    }
    &:active {
      transform: scale(0.9);
    }
  }
}
