@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.datepicker {
  &__input {
    padding: 10px 10px 10px 40px;
    background: #fff url("../../../assets/images/calendar.svg") no-repeat 10px center;
    border: 1px solid #6A35F7;
    border-radius: 5px;
    width: 100%;

    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      color: #9D9D9D;
    }
  }

  &__calendar {
    background: #fff;
    //padding: 20px;
    border-radius: 8px;
  }

  &__day {
    font-size: 12px;
    color: #A9ABBD;
    margin: 8px 8px;
  }
}



