@import 'node_modules/react-datepicker/src/stylesheets/datepicker.scss';

.datepicker {
  &__input {
    padding: 15px 10px 15px 40px;
    background: #fff url("../../../assets/images/calendar.svg") no-repeat 10px center;
    border: 1px solid #6A35F7;
    border-radius: 5px;
    width: 100%;
    cursor: pointer;

    &:focus,
    &:active {
      outline: none;
    }

    &::placeholder {
      color: #9D9D9D;
    }
  }

  &__calendar {
    background: #fff;
    border-radius: 8px;
    border: none;
    filter: drop-shadow(4px 6px 10px rgba(0, 0, 0, 0.05));
  }

  &__day {
    font-size: 12px;
    color: #A9ABBD;
    margin: 5px 9px;

    &.react-datepicker__day--selected {
      background: red;
    }
  }

  &__header {
    padding: 20px;
    background: #fff;
    color: #111111;
    font-weight: 600;
    font-size: 14px;
    margin-top: -18px;
    width: 340px;
  }

  &__weeks {
    padding: 20px;
    background: #fff;
    color: #A9ABBD;
    font-size: 12px;
    margin-bottom: -17px;
  }

  &__prev,
  &__next {
    width: 8px;
    height: 12px;
  }

  &__prev {
    background: url("../../../assets/images/prev.svg") no-repeat center center;
  }

  &__next {
    background: url("../../../assets/images/next.svg") no-repeat center center;
  }
}



