.modal {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 6;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(0.5);
  transition: 0.3s;
  &__body{
    position: relative;
    z-index: 15;
    background: #fff;
    max-width: 400px;
    border-radius: 30px;
  }

  &__active {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__bg {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    background: rgba(0, 0, 0, 0.3);
  }
}
