.banner {
    background: url("../../../assets/images/background-banner.png") no-repeat center center / cover;
    border-radius: 48px;
    color: #fff;
    min-height: 200px;
}

.title {
    font-size: 34px;
    line-height: 46px;
}

.subscribes_btn {
    font-size: 24px;
    max-width: 200px;
    padding-left: 0 !important;
    text-align: left;
}

.bannerCircle {
    max-width: 130px;
}

.bannerCircle img {
    width: 100%;
}
