.input {
  padding: 19px;
  background: #fff;
  border: 1px solid #E0E0E0;
  border-radius: 50px;
  width: 100%;

  &PaddingLeft {
    padding: 19px 19px 19px 40px;
  }

  &:focus,
  &:active {
    outline: none;
  }

  &::placeholder {
    color: #9D9D9D;
  }

  &__wrap {
    position: relative;
  }

  &__label {
    color: #6B779A;
    font-size: 14px;
  }

  &__icon {
    position: absolute;
    left: 12px;
    top: 35%;
  }

  &Error {

  }
}
