
.sidebar__logoWrap {
    flex-basis: 20%;
}

.menu {
}

.menu__link {
    text-decoration: none;
    color: #6A35F7;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}


.menu__link:not(.activeLink):hover {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 32px 0 0 32px;
    z-index: 10;
}

.activeLink {
    background: #FFFFFF;
    border-radius: 32px 0 0 32px;
}

.activeLink::after,
.activeLink::before {
    content: "";
    position: absolute;
    background: #E5E5E5;
    right: 0;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    z-index: 5;
}

.activeLink::after {
    bottom: 100%;
}

.activeLink::before {
    top: 100%;
}

.activeLink div {
    position: relative;
    width: 100%;
    right: 0;
}

.activeLink div::after,
.activeLink div::before {
    content: "";
    position: absolute;
    background: #fff;
    right: 0;
    width: 30px;
    height: 30px;
}

.activeLink div::after {
    bottom: 100%;
}

.activeLink div::before {
    top: 100%;
}

.menu__link__img {
    width: 20px;
}

.menu__link__img img {
    width: 100%;
}


